HEXCORE_POSTGRES_DB=hexcore
HEXCORE_POSTGRES_USER=hexcore
HEXCORE_POSTGRES_PASSWORD=change-this-local-password
HEXCORE_SESSION_TTL_HOURS=48
HEXCORE_STREAM_TOKEN_TTL_SECONDS=120
HEXCORE_APP_PORT=4186
HEXCORE_API_PORT=4196
